.accordion{
    padding: 0px;
    

}
.accordion-title{
    padding: 15px;
    border:none;
}
.accordion-content{

    padding: 10px;
    font-size: 18px;
}
.footer{
    background-color: rgb(116, 113, 113);
    
}

.footer img{
    filter: grayscale(100%);
    width: 150px;
    height:28px;
    margin: 20px 20px 8px 23px;
}

.footer div{
    margin: 8px 20px 0px 20px; 
     padding-bottom: 10px;
    font-size: 13px;
    color: rgb(211, 205, 205);
}