.formpage2{
    padding: 10px;
    /* background-color: bisque; */
    height: 300px;
    padding-top: 50px;
}

.formpage2 input{
    margin:10px;
    border-radius: 8px;
    width: 40%;
    
    
    
}